RightArrowGlyph4 BITMAP "Images\\ArrowButton1_4.bmp"
RightArrowGlyph5 BITMAP "Images\\ArrowButton2_4.bmp"
RightArrowGlyph3 BITMAP "Images\\ArrowButton3_4.bmp"
RightArrowGlyph6 BITMAP "Images\\ArrowButton5_4.bmp"
RightArrowGlyph BITMAP "Images\\ArrowButton_4.bmp"
RightArrowGlyph2 BITMAP "Images\\ArrowButton_4_Small.bmp"
CheckIndicator BITMAP "Images\\Check_Indicator.bmp"
SensorLED_Disable BITMAP "Images\\SensorLED_Disable.bmp"
SensorLED_Off BITMAP "Images\\SensorLED_Off.bmp"
SensorLED_On BITMAP "Images\\SensorLED_On.bmp"
SquareLED_Disable BITMAP "Images\\SquareLED_Disable.bmp"
SquareLED_Off BITMAP "Images\\SquareLED_Off.bmp"
SquareLED_On BITMAP "Images\\SquareLED_On.bmp"
