TAZANALOGGAUGE BITMAP "Images\\AZAnalogGauge.bmp"
TAZARROWBUTTON BITMAP "Images\\AZArrowButton.bmp"
TAZCALENDAR BITMAP "Images\\AZCalendar.bmp"
TAZDATETIMEVIEW BITMAP "Images\\AZDateTimeView.bmp"
TAZFLOWSHAPE BITMAP "Images\\AZFlowShape.bmp"
TAZGAUGE BITMAP "Images\\AZGauge.bmp"
TINDEXBUTTON BITMAP "Images\\AZIndexButton.bmp"
TAZLABELIMAGE BITMAP "Images\\AZLabelImage.bmp"
TNUMPANEL BITMAP "Images\\AZLabell.bmp"
TAZLABELPANEL BITMAP "Images\\AZLabelPanel.bmp"
TAZNUMBERPAD BITMAP "Images\\AZNumberPad.bmp"
TAZNUMSHAPE BITMAP "Images\\AZNumShape.bmp"
TAZONOFFBUTTON BITMAP "Images\\AZOnOffButton.bmp"
TAZPANEL BITMAP "Images\\AZPanel.bmp"
TAZSERVOSTATE BITMAP "Images\\AZServoState.bmp"
TDUALBUTTON BITMAP "Images\\DualButton.bmp"
TAZIMAGEBUTTON BITMAP "Images\\ImageButton.bmp"
TACTUATORBUTTON BITMAP "Images\\TActuatorButton.bmp"
TDUALSENSORLABEL BITMAP "Images\\TDualSensorLabel.bmp"
TTITLELABEL BITMAP "Images\\TitleLabel.bmp"
TSENSORLABEL BITMAP "Images\\TSensorLabel.bmp"
